.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 20px;
  background-color: white;
  width: 600px;
  height: 1000;
}

body {
  background-color: hsl(212, 45%, 89%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container img {
  border-radius: 40px;
  padding: 20px;
}

.container .subtitle2 {
  color: hsl(212, 45%, 89%);
  width: 30%;
  text-align: center;
}

.container .subtitle {
  color: hsl(218, 44%, 22%);
  width: 30%;
  text-align: center;
}